@import 'fonts';
@import 'vars';
@import 'media-queries';

$gris: #353f46;
$blanco: white;

/*CLASES*/
.container-fluid{
    margin: 0%;
    padding: 0%;
}
.top-bar{
    width: 100%;
    padding: 2em 7em;
    background: $gris ;
    opacity: 90%;
}
.logo{
    font-size: 30px;
    font-family: 'notobold';
    text-decoration: none;
    color: $blanco;
}
.top-nav{
    padding: 0%;
    margin: 0%;
    float: right;
}
.top-nav-item{
    padding: 0.6em 1em;
    margin: 0%;
    display: inline-block;
}
.top-nav-link{
    text-decoration: none;
    font-family: 'notobold';
    font-size: 14px;
    color: $blanco;
}

.img1{
    background: url(../imgs/header.jpg);
    padding: 19em 2em;
    text-align: center;
}
.title{
    padding: 0%;
    margin: 0.15em;
    font-size: 42px;
    font-family: 'notolight';
    color: $blanco;
    background: $gris;
    opacity: 70%;
    display: inline-block;
}
.servicios{
    padding: 5em 7.90em;
    background: #4bcaff ;
}
.title-servicios{
    color: $blanco;
    font-size: 30px;
    font-family: 'notolight';
    padding: 0%;
    margin: 0%;
}
.linea{
    width: 5%;
    height: 2px;
    padding: 0%;
    margin: -0.2em 0 1em 0em;
    background: $blanco;
    display: block;
}
.subtitulo-servicios{
color: $blanco;
font-family: 'notoregular';
font-size: 24px;
margin: 0%;
padding: 0.5em 0em;
}
.col-sm-3{
padding: 0%;
margin: 0%;
}
.descripcion{
    color: $blanco;
    font-size: 12px;
    font-family: 'notoregular';
    padding: 0em 3em 0em 0em;
}

.portafolio{
    color: #515f67;
    font-family: 'notolight';
    font-size: 30px;
    padding: 0;
    margin: 0%;

    .linea2{
        width: 13.5%;
        height: 2px;
        padding: 0em 0.3em;
        margin: 0.1em 0 1em 0em;
        background: #515f67;
        display: block;
    }
}
.portafolio-padding{
    padding: 4.5em 2.5em;
}
.img-padding{
    padding: 0em 2.5em;
}
.col-sm-derecha{
    padding: 0em 0.7em;
    text-align: right;
}
.contenido-centro{
padding: 1.3em 0em 0em 7.9em;
}
.work{
    display: inline-block;
    padding: 0;
    position: relative;
    margin: 0.5em;
    cursor: pointer;

    img{
        width: 100%;
        height: auto;
    }
}

.default-section{
    background:  $gris;
    color: $blanco;
    padding: 4em 1em;
    margin: 3em 0em;
}

.video-title{
    font-family: 'notolight';
    font-size: 30px;
    margin-bottom: 1em;
    }
    .linea-just{
        width: 4%;
        height: 2px;
        padding: -0.2em 0em;
        margin: 0.3em 0em;
        background: $blanco;
        display: block;
    }
    .video-text{
        font-family: 'notoregular';
        font-size: 14px;
        margin-bottom: 2em;
    }
.video{
    position: relative;
    left: 37.8em;
    bottom: 19.5em;
}
.button-visit{
color: $blanco;
background:  #06090b;
padding: 1em 3em;
font-family: 'notobold';
font-size: 14px;
border: none;
text-align: center;
}
